<a href="https://colab.research.google.com/github/vineelaa7/Gradstellar_bootcamp_assignments_2216156/blob/main/Assignment_1_2216156.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string methods

str=input("Enter your value: ")

#Converts the first character to upper case
s = str.capitalize()
print(s)

#Returns True if all characters in the string are upper case else false
x=str.isupper()
print(x)

#Swaps cases, lower case becomes upper case and vice versa
a=str.swapcase()
print(a)

#Splits the string at the specified separator, and returns a list
r=str.rsplit()
print(r)

#Returns True if all characters in the string are lower case
l=str.islower()
print(l)5

In [ ]:

#list methods

gradstellar = ['sivaram', 'areefa', 'artificial intelligence', 'machine learning']

#The append() method appends an element to the end of the list.
gradstellar.append("bootcamp")
print(gradstellar)

#Reverses the order of the list
gradstellar.reverse()	
print(gradstellar)

#Removes the element at the specified position
gradstellar.pop(2)
print(gradstellar)

#Adds an element at the specified position
gradstellar.insert(0,"vineeela")
print(gradstellar)

#Removes all the elements from the list
gradstellar.clear()	
print(gradstellar)

In [ ]:
#tuple methods
#tuples are unchangeable
tuple = ("siva", "siva", "areefa", "aiml", "siva")

#Searches the tuple for a specified value and returns the position of where it was found
x = tuple.index("areefa")
print(x)

#The count() method returns the number of times a specified value appears in the tuple.
y = tuple.count("siva")
print(y)

In [ ]:
#dictionary methods
dict = {
  "bootcamp": "aiml",
  "teacher": "sivaram",
  "duration": "2 months"
}

x = dict["bootcamp"]
print(x)

y = dict.get("bootcamp")
print(y)

dict["teacher"] = "areefa"
print(dict)

dict["tools"] = "google colab"
print(dict)

dict.pop("duration")
print(dict)

for x in dict:
  print(dict[x])

mydict = dict.copy()
print(mydict)


#nested dicts
student1 = {
  "name" : "vineela",
  "year" : 2002
}
student2 = {
  "name" : "vaishnavi",
  "year" : 2007
}
student3 = {
  "name" : "areefa",
  "year" : 2001
}

gradstellar = {
  "student1" : student1,
  "student2" : student2,
  "student3" : student3
}
print(gradstellar)

In [ ]:
#set
gradstellar = {"sivaram", "areefa", "vineela"}

#add an element
gradstellar.add("sreeman")
print(gradstellar)

#Removes an element from the set
gradstellar.pop()
print(gradstellar)

#difference
gradstellar = {"sivaram", "areefa", "vineela"}
gradstellar2 = {"sivaram", "areefa", "vaishnavi"}
z = gradstellar.difference(gradstellar2)
print(z)

#Removes all the elements from the set
gradstellar.clear()
print(gradstellar)

In [ ]:
#Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method
num = int(input())


print(bin(num))
print(oct(num))
print(hex(num))

In [ ]:
#Arithmetic Operators
x=int(input())
y=int(input())

#addition 
print(x + y)	

#Subtraction	
print(x - y)	

#Multiplication
print(x * y)	

#Division	
print(x / y)	

#Modulus	
print(x % y)	

#Exponential
print(x ** y)	

#Floor division	
print(x // y)

In [ ]:
#assignment operators
x = 5	
print(x)

#x += 3	
x = x + 3	
print(x)

#-=	x -= 3	
x = x - 3	
print(x)

#*=	x *= 3	
x = x * 3	
print(x)

#/=	x /= 3	
x = x / 3	
print(x)

#%=	x %= 3	
x = x % 3	
print(x)

#//=	x //= 3	
x = x // 3
print(x)	

#**=	x **= 3	
x = x ** 3
print(x)

y=5
#&=	y &= 3	
y = y & 3	
#print(y)

#|=	y |= 3	
y = y | 3	
print(x)

#^=	y ^= 3	
y = y ^ 3	
print(x)

#>>=	y >>= 3	
y = y >> 3	
print(x)

#<<=	y <<= 3	
y = y << 3
print(x)

In [ ]:
#Comparison Operators
x=int(input())
y=int(input())
#==	Equal	
print(x == y)	
#!=	Not equal	
print(x != y)	
#>	Greater than	
print(x > y)		
#<	Less than	
print(x < y)	
#>=	Greater than or equal to	
print(x >= y)		
#<=	Less than or equal to	
print(x <= y)

In [ ]:
#Logical Operators
x=int(input())
#and 	Returns True if both statements are true	
print(x < 5 and  x < 10)	
#or	Returns True if one of the statements is true	
print(x < 5 or x < 4)	
#not	Reverse the result, returns False if the result is true	
print(not(x < 5 and x < 10))

In [ ]:
#Membership Operators
x=9
y=3
#is 	Returns True if both variables are the same object	
print(x is y)	
#is not	Returns True if both variables are not the same object	
print(x is not y)

In [ ]:
#Bitwise Operators
x=4
y=3

#& 	AND	Sets each bit to 1 if both bits are 1
print(x&y)
#|	OR	Sets each bit to 1 if one of two bits is 1
print(x|y)
#^	XOR	Sets each bit to 1 if only one of two bits is 1
print(x^y)
#!=	NOT	Inverts all the bits
print(x!=y)
#<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
print(x<<y)
#>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(x>>y)

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])

taawkcbe  tgestrcoeeA

In [ ]:
textt="was it a car or a cat I saw"
e=textt.upper()
print(e)

In [ ]:
#You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
#Input X= 2 Output ZZOOOO 
#Input X= 5 Output ZZZZZOOOOOOOOOO 
X=int(input())
Y=2*X
print("Z"*X+"O"*Y)